body {
    margin: 0;
}
canvas {
    display: block;
border:1px solid #000000;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.ui{
    padding-top: 5px;
}